@model BaiTapDoAn.Areas.Admin.Models.Post

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDecription" class="control-label"></label>
                <textarea asp-for="ShortDecription" class="form-control" ></textarea>
                <span asp-validation-for="ShortDecription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullContent" class="control-label"></label>
                <textarea asp-for="FullContent" class="form-control" id="editor"></textarea>
                <span asp-validation-for="FullContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Chọn hình ảnh</label>
                <input type="hidden" name="image_temp" value="@ViewBag.img"/>
                <input asp-for="Img" type="file" name="ful_img" id="ful_img" class="form-control" value="@ViewBag.img"/>
                <img src="~/images/@ViewBag.img" id="img_post" alt="Hình ảnh" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.listStatus"></select>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label"></label>
                <select asp-for="CatId" class="form-control" asp-items="ViewBag.CatId"></select>
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <select asp-for="Author" class="form-control" asp-items="ViewBag.Author"></select>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById('ful_img').onchange = (e) => {
            document.getElementById('img_post').src = URL.createObjectURL(e.target.files[0]);
        }
        document.getElementById('create').onclick = function () {
            var img = document.getElementById('ful_img').value;
            if (img != '') {
                var image = document.getElementById('ful_img');
                var size = parseFloat(image.files[0].size).toFixed(2);
                console.log(size);
                if (size > 2) {
                    alert("File size is to big");
                    document.getElementById('ful_img').value = "";
                    exit;
                }
            }
        }
    </script>
    <script src="~/Admin//build/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}
